* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #4c4c4c;
}

p {
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: 16px;
}
.container {
  padding: 16px;
}

.header {
  background-color: black;
  color: white;
}

.bio_pic_bg {
  background-color: #c1c1c1;
  position: relative;
  height: 100px;
}

.bio_pic {
  width: 100px;
  height: 100px;
  object-fit: fill;
  border: 4px solid white;
  border-radius: 50%;
  position: absolute;
  top: 28px;
  left: 16px;
}

.bio_detail {
  margin-top: 48px;
}

.bio_detail_title {
  font-size: 28px;
}

button {
  padding: 8px 16px;
  font-size: 24px;
}

.update {
  background-color: #c1c1c1;
  border: none;
  border-radius: 4px;
  color: #4c4c4c;
}

/* Tablet */

@media (min-width: 480px) {
  .bio_pic_bg {
    height: 200px;
  }

  .bio_pic {
    width: 200px;
    height: 200px;
    border: 8px solid white;
    top: 56px;
  }
}

/* 


*/
